<div class="row">
  <div class="col-xl-12">

    <div class="row" style="padding-top: 20px; text-align: center;">
      <div class="col-xl-12">

        <h1>Welcome to 24/7 shop!</h1>

      </div>
    </div>

    <br>



    <div class="row">
      <div class="col-xl-11" style="text-align: right;">
        <button
          (click)="addProduct()"
           class="btn btn-primary btn-sm">Add New Product</button>
      </div>
    </div>


    <div class="row"
         style="padding-top: 30px; text-align: center; font-weight: bold; font-size: 17px;"
         *ngIf="products.length === 0; else productExists">
      <div class="col-xl-12">

        No products available. It's easy to create one!

      </div>
    </div>

    <ng-template #productExists>


      <div class="row" style="padding-top: 30px">
        <div class="offset-xl-1 col-xl-10" style="padding: 10px;">

          <kendo-grid
            [data]="gridView"
            [sortable]="{
              allowUnsort: allowUnsort,
              mode: multiple ? 'multiple' : 'single'
                }"
            [sort]="sort"
            (sortChange)="sortChange($event)"
          >
            <kendo-grid-column field="Name" title="Name">
            </kendo-grid-column>

            <kendo-grid-column field="Price" title="Price">
            </kendo-grid-column>

            <kendo-grid-column field="Quantity" title="Quantity">
            </kendo-grid-column>

            <kendo-grid-column title="Actions">

              <ng-template kendoGridCellTemplate let-dataItem>
                <button
                  (click)="editProduct(dataItem)"
                  class="btn btn-warning btn-sm">Edit</button> &nbsp;
                <button
                  (click)="deleteProduct(dataItem.Id)"
                  class="btn btn-danger btn-sm">Delete</button>
              </ng-template>


            </kendo-grid-column>
          </kendo-grid>


        </div>
      </div>

    </ng-template>

  </div>
</div>
