<form #form="ngForm"
      [formGroup]="addNewProductForm">

  <h3 mat-dialog-title>{{ data.header }}</h3>


  <div class="row">
    <div class="col-xl-12">

      <mat-form-field style="width: 100%">
        <mat-label>Name</mat-label>
        <input required
               formControlName="name"
               matInput>
        <mat-error>This field is required!</mat-error>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">

      <mat-form-field style="width: 100%">
        <mat-label>Price</mat-label>
        <input
          type="number"
          min="1"
          required
          formControlName="price"
          matInput>
        <mat-error>This field is required!</mat-error>
      </mat-form-field>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">

      <mat-form-field style="width: 100%">
        <mat-label>Quantity</mat-label>
        <input
          type="number"
          min="1"
          required
          formControlName="quantity"
          matInput>
        <mat-error>This field is required!</mat-error>
      </mat-form-field>

    </div>
  </div>





  <div>

    <mat-dialog-actions align="end">
      <button
        type="submit"
        class="btn btn-success btn-sm"
        [disabled]="!form.valid"
        (click)="confirmClick()"
        style="outline: 0;"
      >Save</button>
      <button
        type="button"
        class="btn btn-danger btn-sm"
        (click)="cancelClick()"
        style="outline: 0;"
      >Cancel</button>
    </mat-dialog-actions>


  </div>

</form>
